  .centered-container {
    margin: 0 auto;
    width: 90%; /* 親要素をはみ出さないようにする */
  }
  
  .left-align {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .no-bullets {
    list-style-type: none;
    padding-left: 0;
  }
  
  .custom-card-title {
    background-color: #7b7b7b; /* ここで背景色を指定します */
    color: #ffffff; /* 必要に応じてテキストの色も指定します */
  }
  
  .favicon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  a {
    height: 18px;
    color: white;
    text-decoration: none; /* 必要に応じて下線を消します */
    align-items: center;
    transition: .3s;
    position: relative;
    display: inline-block;
  }
  
  a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
  }
  
  a:hover::after{
    width: 100%;
  }
  
  a:hover {
    font-size: 1.1em; /* マウスオーバーしたときに文字をほんの少しだけ大きくします */
  }
  
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
  
  .padded-col {
    padding: 8px; /* 必要に応じてパディングを設定します */
    box-sizing: border-box; /* パディングを含めたサイズにします */
  }

  .card {
    width: 200px;
    height: auto;
  }